@import "variables";
@import "mixins";
@import "layout";

.header {
   @include respond(lg){
         margin: 0 35px;
      }
}

.nav {
   background-color: #F5F5FA;
   padding: 10px 0;
   @include respond(lg){
         padding: 20px 0px;
      }
      
		&__row {
         @include flex-between;
         color: $grey-color;
         align-items: center;
         @include respond(md){
            justify-content: flex-start;
            gap: 18px;
          }
          @include respond(md){
            justify-content: center;
            gap: 18px;
          }
          @include respond(lg){
            justify-content: flex-end;
            max-width: 1600px;
            margin: 0 auto;
         }
		}

		&__lang {
         ul{
            display: flex;
            gap: 7px;
            font-weight: 700;
            font-size: 12px;
            align-items: center;
         }
		}
      &__lang-en{
         color: #F5F5FA;
         background-color: #F0145A;
         padding: 5px 7px;
         border-radius: 8px;
      }

		&__adress {
         display: none;
         font-weight: 400;
         font-size: 16px;
          @include respond(md){
            display: block;
          }
		}

		&__tel {
         font-weight: 700;
         font-size: 16px;
		}

		&__number {
         color: $grey-color;
		}

		&__facebook {
         display: none;
         @include respond(md){
            display: block;
          }
		}
}

.main {
   flex: 1 1 auto;
}
.about {
   @include respond(md){
      padding: 0 45px;
   }
		&__row {
         @include flex-between;
         justify-content: flex-start;
         flex-wrap: wrap;
         @include respond(lgx){
         max-width: 1600px;
         margin: 0 auto;
   }
		}

		&__body {
         display: flex;
         gap: 5px;
         margin-bottom: 10px;
         @include respond(lg){
            position: relative;
            top: -15px;
         }
		}

		&__brand {
         @include flex-column;
         gap: 10px;
		}

		&__title {
         font-size: 36px;
         font-weight: 700;
         
         &::first-letter{
            color: #F0145A;
         }
		}

		&__law {
         letter-spacing: 2px;
         text-transform: uppercase;
         font-size: 10px;
		}

		&__about {
         font-size: 32px;
         color: #323264;
         
         display: flex;
         align-items: center;
         
         img{
            
            
         }
		}

		&__menu {
         display: flex;
         flex-direction: column;
         width: 100%;
         margin: 30px 0;
         @include respond(md){
            
         }
         ul{
            display: flex;
            flex-direction: column;
            gap: 15px;
            font-weight: 700;
            font-size: 16px;
            margin: 0 auto;
            li{
               a{
                  color: #24A3FF;
               }
            }
            @include respond(md){
            flex-direction: row;
            justify-content: flex-start;
            margin: 0;
            }
            @include respond(lg){
            flex-direction: row;
            justify-content: flex-end;
            margin: 0;
            position: relative;
            top: -65px;
            }
         }
		}

         &__link-about {
            &:hover{
            color: #F0145A;
            padding-bottom: 5px;
            border-bottom:2px solid #F0145A;
            }
         }

         &__link-services {
            &:hover{
            color: #F0145A;
            padding-bottom: 5px;
            border-bottom:2px solid #F0145A;
            }
         }
      
         &__link-team {
            &:hover{
            color: #F0145A;
            padding-bottom: 5px;
            border-bottom:2px solid #F0145A;
            }
         }
      
         &__link-publications {
            &:hover{
            color: #F0145A;
            padding-bottom: 5px;
            border-bottom:2px solid #F0145A;
            }
         }
      
         &__link-contact {
            &:hover{
            color: #F0145A;
            padding-bottom: 5px;
            border-bottom:2px solid #F0145A;
            }
         }
}
//                  services
.services {
   padding: 0 15px;
   @include respond(md){
      padding: 0 45px;
   }
		&__row {
         @include respond(lg){
            display: flex;
            flex-direction: row;
            gap: 30px;
         }
         @include respond(lgx){
            min-width: 1360px;
            margin: 0 auto 30px;
            gap: 54px;
            justify-content: space-between;
         }
		}

		&__discription {
         margin-bottom: 30px;
         @include respond(lg){
            flex: 1 1 50%;
         }
         @include respond(lgx){
            // flex: 1 0 942px;
            // margin: 0;
         }
		}

		&__title {
         font-weight: 700;
         font-size: 30px;
         line-height: 1.1;
         background: linear-gradient(45deg, #F0145A,#EF8080);
         background-clip: text;
         -webkit-text-fill-color: transparent;
         margin-bottom: 28px;
         @include respond(md){
            font-size: 36px;
         }
		}

		&__text {
         font-size: 19px;
         line-height: 30px;
         p{
            &:not(:last-child){
               margin-bottom: 20px;
            }
         }
		}

		&__expereance {
         display: flex;
         flex-direction: column;
         align-self: flex-start;
         gap: 40px;
         margin-left: 30px;
         margin-bottom: 30px;
         position: relative;
         @include respond(md){
            margin-bottom: 60px;
         }
         @include respond(lg){
            flex: 1 1 50%;
         }
         @include respond(lgx){
            text-align: center;
            
            // flex: 1 1 auto;
            // margin: 0;
         }
         &::before{
            content: "";
            position: absolute;
            left: -30px;
            top: 5px;
            width: 4px;
            height: 100%;
            background-color: #3d3db1;
            
         }
		}

		&__years {

         &__amount{
            position: relative;
            padding-left: 34px;
            display: inline-block;
            &::before{
               content: "";
               position: absolute;
               left: 0px;
               top: 5px;
               background: url(/img/flag.svg) no-repeat;
               width: 32px;
               height: 32px;
            }
         }
		}

		&__clients {
         &__amount{
            position: relative;
            padding-left: 34px;
            display: inline-block;
            &::before{
               content: "";
               position: absolute;
               left: 0px;
               top: 1px;
               background: url(/img/Clients.svg) no-repeat;
               width: 32px;
               height: 32px;
            }
         }
         &__text{

         }
		}

		&__hours {
         &__amount{
            position: relative;
            padding-left: 34px;
            display: inline-block;
            &::before{
               content: "";
               position: absolute;
               left: 0px;
               top: 3px;
               background: url(/img/Probono.svg) no-repeat;
               width: 32px;
               height: 32px;
            }
         }
         &__text{
            
         }
		}
}

.amount {
   background: linear-gradient(#F0145A,#EF8080);
   background-clip: text;
   -webkit-text-fill-color: transparent;
   font-weight: 700;
   font-size: 36px;
   margin-bottom: 18px;
}

.text{
   font-size: 16px;
   color: #323264;
   @include respond(lgx){
      max-width: 300px;
      margin: 0 auto;
   }
}


.hero {
   width: 100%;
   margin: 30px 0;
   @include respond(md){
      margin: 60px 0;
   }

		&__img {
         img{
            width: 100%;
            height: auto;
         }
		}
}

.quality {
   margin-bottom: 60px;
   padding: 0 15px;
   @include respond(md){
      padding: 0 45px;
   }
		&__row {
         display: flex;
         flex-wrap: wrap;
         gap: 30px;
         @include respond(lg){
            margin: 0 -30px;
            gap: 0px;
         }
         @include respond(lgx){
            min-width: 1360px;
            margin: 0 auto;
            
         }
		}

		&__text {
         flex: 1 1 100%;
         font-size: 19px;
         line-height: 30px;
         p:not(:last-child){
            margin-bottom: 20px;
         }
         @include respond(lg){
            padding: 0 30px;
            flex: 0 1 50%;
         }
		}

		&__title {
         flex: 1 1 100%;
         background: linear-gradient(45deg, #F0145A,#EF8080);
         background-clip: text;
         -webkit-text-fill-color: transparent;
         font-weight: 700;
         font-size: 30px;
         @include respond(md){
            font-size: 38px;
         }
         @include respond(lg){
            padding: 0 30px;
            flex: 0 1 50%;
            text-align: center;
         }
		}
}

.achievements {
   padding: 30px 60px;
		&__row {
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 30px;
		}

		&__title {
         h3{
         font-weight: 700;
         font-size: 14px;
         letter-spacing: 1px;
         text-transform: uppercase;
         color: #323264;
         }
		}

		&__images {
         width: 100%;
		}

		&__images__row {

         display: flex;
         flex-direction: row;
         width: 100%;
      }
		
      &__images__row{
         width: 100%;
         @include respond(md){
            display: flex;
            justify-content: space-between;
            gap: 40px;
         }
         
      }

      &__img{
         display: none;
         @include respond(md){
            display: block;
            width: 100%;
            aspect-ratio: 16/9;
         img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            @include respond(lg){
               padding: 25px 19px;
            
               }
            }
         }
      }
      .one{
         display: inline-block;
         margin: 0 auto;
         img{
            max-width: 100%;
            height: auto;
         }
         @include respond(md){
            
            aspect-ratio: 16/9;
         img{
            width: 100%;
            height: 100%;
            object-fit: contain;
         }
         }
         
      }
		&__list {
         ul{
         display: flex;
         flex-direction: row;
         gap: 14px;
         }
         li{
            background-color: #24A3FF;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            &:not(:first-child){
               opacity: 0.5;
            }
         }
		}

		&__circle {
         @include respond(md){
            display: none;
         }
		}
}




.footer {
   background-color: #F5F5FA;
   padding: 22px 15px;
		&__row {
         display: flex;
         flex-direction: column;
         text-align: center;
         @include respond(lgx){
            max-width: 1600px;
            margin: 0 auto;
         }
		}

		&__body {
         @include respond(lg){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
         }
         
		}

		&__adress {
         @include respond(md){
            display: flex;
            justify-content: center;
            flex-direction: row;
            gap: 20px;
         }
         @include respond(lg){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
         }
		}

		&__street {
         color: #323264;
         font-size: 16px;
         margin-bottom: 10px;
         @include respond(md){
            &::after{
               content: "";
               display: inline-block;
               width: 6px;
               height: 6px;
               border-radius: 50%;
               background-color: #B3B3BA;
               position: relative;
               top: -2px;
               left: 8px;
            }
         }
		}

		&__map {
         margin-bottom: 21px;
         a{
            color: #24A3FF;
            font-size: 12px;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: 700;
            
         }
		}
      &__contacts{
         display: flex;
         flex-direction: column;
         gap: 10px;
         margin-bottom: 30px;
         @include respond(md){
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 20px;
            margin-bottom: 30px; 
         }
         @include respond(lg){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
         }
      }

		&__img {
         
		}

		&__tel {
         
         a{
            color: #46466E;
            font-size: 16px;
            font-weight: 700;
            @include respond(md){
               &::after{
               content: "";
               display: inline-block;
               width: 6px;
               height: 6px;
               border-radius: 50%;
               background-color: #B3B3BA;
               position: relative;
               top: -2px;
               left: 8px;
               }
               &::before{
                  content: "";
               display: inline-block;
               width: 6px;
               height: 6px;
               border-radius: 50%;
               background-color: #B3B3BA;
               position: relative;
               top: -2px;
               left: -8px;
               }
            }
         }
		}

		&__email {
         a{
            color: #24A3FF;
            font-weight: 700;
            font-size: 16px;
            
         }
		}

		&__text {
         color: #B3B3BA;
         font-size: 16px;
		}
}


///                              TEAM  


.team {
   padding: 0 15px;
   @include respond(md){
      padding: 0 45px;
   }
		&__title {
         max-width: 1360px;
         margin: 0 auto 30px;
         h1{
         font-weight: 700;
         font-size: 30px;
         line-height: 1.1;
         background: linear-gradient(45deg, #F0145A,#EF8080);
         background-clip: text;
         -webkit-text-fill-color: transparent;
         
         @include respond(md){
            font-size: 36px;
            margin-bottom: 60px;
            }
         }
		}

		&__persons {
		}

		&__row-men {
         display: flex;
         flex-wrap: wrap;
         
         @include respond(md){
            margin: 0 -30px;
         }
         @include respond(lgx){
            min-width: 1360px;
            margin: 0 auto;
         }
		}

		&__column {
         display: flex;
         flex-direction: column;
         flex: 1 1 100%;
         margin-bottom: 30px;
         @include respond(md){
            flex: 0 1 50%;
            padding: 0 30px;
         }
         @include respond(lg){
            flex: 0 1 33.333%;
            margin-bottom: 50px;
         }
		}

		&__card {
         display: flex;
         flex-direction: column;
         gap: 15px;
		}

		&__image {
         width: 100%;
         aspect-ratio: 16/9;
         img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 7px;
         }
		}

		&__card-row {
         display: flex;
         justify-content: space-between;
         
		}

		&__who {
         gap: 5px;
		}

		&__name {
         font-weight: 700;
         font-size: 16px;
         color: #323264;
		}

		&__position {
         font-size: 14px;
         color: #B3B3BA;
         line-height: 22px;
		}

		&__arrow {
         img{
            padding: 0 1px;
         }
         img:hover{
            transform: rotate(90deg);
            
         }
		}
}


.profile {
   .container{
      padding: 0;
   }
   @include respond (lg){
      }
		&__body {
         margin: 0 60px ;
         @include respond (md){
          display: grid;
          grid-template-columns: minmax(auto,300px) 1fr;
          grid-template-rows: auto auto;
          grid-column-gap: 30px;
         }
         @include respond (lg){
          grid-template-columns: minmax(auto, 300px) 1fr;
          grid-template-rows: fit-content(143px) auto;
          grid-gap: 0 60px;
         }
         @include respond (lgx){
            max-width: 1300px;
            margin: 0 auto;
            grid-template-columns: minmax(auto, 400px) 1fr;
         }
		}

		&__row {
         @include respond (md){
            
         }
         @include respond (lg){
            
         }
		}

		&__image {
         width: 100%;
         aspect-ratio: 4/5;
         margin-bottom: 30px;
         @include respond (lg){
            grid-row: 1 / span 2;
         }
         img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 12px;
         }
		}

		&__contacts {
         
         @include respond (md){
            margin: auto;
         }
         @include respond (lg){
            justify-items: start;
            margin: 0;
         }
		}

		&__name {
         font-weight: 700;
         font-size: 38px;
         background: linear-gradient(#F0145A,#EF8080);
         background-clip: text;
         -webkit-text-fill-color: transparent;
         margin-bottom: 15px;
		}
      &__details{
         margin-bottom: 30px;
         display: grid;
         grid-gap: 10px 0;
         @include respond (lgx){
            grid-gap: 0 26px;
            display: grid;
            grid-auto-flow: column;
         }
      }
		&__position {
         color: #B3B3BA;
         font-size: 14px;
         line-height: 22px;
		}

		&__email {
         a{
            color: #24A3FF;
            font-size: 16px;
         }
		}

		&__linked {
         a{
            color: #24A3FF;
            font-size: 16px;
         }
		}

		&__about {
        border-top: 4px solid #3d3db1;
        @include respond(md){
          grid-column: 1 / span 2;
        }
        @include respond(lg){
          grid-column: 2;
          
        }
		}

		&__text {
         margin-top: 34px;
         margin-bottom: 30px;
         @include respond(md){
          
         }
         p:not(:last-child) {
            margin-bottom: 20px;
         }
         p{
            font-size: 16px;
            line-height: 26px;
            color: #000000;
         }
         h3{
            color: #323264;
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 10px;
            @include respond (md){
            margin-bottom: 15px;
         }
         }
		}
}

